.Centrado {
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
    flex-direction: column; /* Asegura que los elementos estén apilados verticalmente */
    text-align: center; /* Centra el texto dentro del div */
}

body {
    margin: 0; /* Elimina los márgenes predeterminados */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif; /* Estilo base */
}

.volver {
    position: absolute; /* Asegura que el botón "VOLVER" esté fijo y no interfiera con el centrado */
    top: 10px; /* Separación desde el borde superior */
    left: 10px; /* Separación desde el borde izquierdo */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #00bfff; /* Azul */
    color: #ffffff;
    border: none;
    border-radius: 5px;
}
.button:hover {
    background-color: #004c9c;
}
input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    max-width: 300px; /* Limita el ancho */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

submitGuess {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #000000; /* Verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    margin-top: 20px;
    font-size: 14px;
    color: gray;
}
