<!DOCTYPE html>
<html>
<head>
    <title>Mindle</title>
    {% load static %}
    <link rel="stylesheet" href="/static/css/style_Game.css"/>
</head>
<body>
    <div>
        <div class="wave"></div>
        <div class="wave"></div>
        <div class="wave"></div>
    </div>
    <div class="volver">
        <button class="button " onclick="history.back();">VOLVER</button>
    </div>  
    <div class="Centrado">
        <header>
            <h1></h1>*
            <p>Ingresa un trastorno mental .</p>
        </header>
        <main>
            <div class="game-container">
                <input type="text" id="userInput" placeholder="Escribe aquí tu respuesta..." maxlength="20">
                <button class="button" id="submitGuess">Verificar</button>
                <div id="feedback"></div>
                <div class="attempts">
                    <h2>Intentos</h2>
                    <ul id="attemptList"></ul>
                </div>
            </div>
        </main>
        <footer>
            <p>El diagnostico aleatorio es: {{ Trastorno }}</p>
        </footer>
        <script src="script.js"></script>
    </div>
</body>
</html>
