<!DOCTYPE html>
<html>
<head>
    <title>Mindle</title>
</head>
    <h1>Mindle</h1>
<body>
    <label for="UserID">Ingrese: </label>
    <input id="UserID" name ="Ingrese"/>
    <br>
    <h2>Intentos</h2> 
    <ul>
        <li> 1............</li>
        <li> 2............</li>   
        <li> 3............</li>   
        <li> 4............</li>   
        <li> 5............</li>       
    </ul>
    <br>
    <h2>Pistas</h2>
    <ul>
        <li> ✅............</li>
        <li> ❌............</li>   
        <li> ✅............</li>   
        <li> 💡............</li>   
        <li> ❌............</li>       
    </ul>
    <br>
    <textarea id="Descripción al ganar" placeholder="Descripción al ganar" name="Descripción"></textarea>
</body>
</html>