<!DOCTYPE html>
<html>
<head>
    <title>Mindle</title>
    {% load static %}
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <div class="Sesion">
        {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <button type="submit">Cerrar sesión</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}"><button type= "button">Iniciar sesion</button></a> 
        {% endif %}
    <div>
    <div class="Centrado">   
        <h1 class="Titulo">Mindle</h1>

        <form action="/game" method="get"> 
            <button class="Boton" type="submit">Jugar</button>
        </form> 
        <br><br>
        <form action="/diccionario" method="get">
            <button type="submit">Diccionario</button> 
        </form>

    </div>
    <div class="Ranking">    
        <h1>Ranking</h1>
        <table>
            <thead>
              <tr>
                <th>Usuario</th>
                <th>Puntaje</th>
              </tr>
            </thead>
            <tbody>
              {% for puntaje in ranking %}
                <tr>
                  <td>{{ puntaje.usuario.username }}</td>
                  <td>{{ puntaje.puntaje }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    </form>
    <a class="EnlaceInferior" href="/admin">Página de admin</a>
</body>

</html>