<!DOCTYPE html>
<html>
<head>
    <title>Mindle</title>
    {% load static %}
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <form>
        <button type="submit" formaction="/login">Iniciar sesión</button>
        <h1>Mindle</h1>
    <div class="EntornoBoton">
            <button class="Boton" type="submit" formaction="/game">Jugar</button>
    </div>
        <br>
        <br>
        <button type="submit" formaction="/diccionario">Diccionario</button>
        <h1>Ranking</h1>
    <ol>
        <li value="1"> Jugador 1</li>
        <li> Jugador 2</li>   
        <li> Jugador 3</li>   
        <li> Jugador 4</li>   
        <li> Jugador 5</li>       
    </ol>
    </form>
    <a href="/admin">Página de admin</a>
</body>

</html>