<!DOCTYPE html>
<html>
<head>
    <title>Mindle</title>
    {% load static %}
    <link rel="stylesheet" href="static/css/style.css" />
</head>
<body>
    <body>
        <div>
           <div class="wave"></div>
           <div class="wave"></div>
           <div class="wave"></div>
        </div>
    <form>
        <button class="login" type="submit" formaction="/login">Iniciar sesión</button>
    <div class="Centrado">   
            <h1 class="Titulo">Mindle</h1>
            <button class="Boton" type="submit" formaction="/game">Jugar</button>
    
            <br>
            <br>
            <button type="submit" formaction="/diccionario">Diccionario</button>
    </div>
    <div class="Ranking">    
        <h1>Ranking</h1>
        <ol>
            <li value="1"> Jugador 1</li>
            <li> Jugador 2</li>   
            <li> Jugador 3</li>   
            <li> Jugador 4</li>   
            <li> Jugador 5</li>       
        </ol>
    </div>
    </form>
    <a class="EnlaceInferior" href="/admin">Página de admin</a>
    
</body>

</html>