<!DOCTYPE html>
<html>
<head>
    <title>Diccionarios</title>
</head>  
<body>
    <h1>Diccionario</h1>
    <h2> Barra de búsqueda <h2> <!--poner marco grrr-->
    <img src="imagenes/lupa.png"> <!-- me pitié la imagen xd-->
    <h2> Nombres de los diagnósticos </h2> <!--tmb en con marco-->
    <ul>
        <li> 1............</li>
        <li> 2............</li>   
        <li> 3............</li>   
        <li> 4............</li>   
        <li> 5............</li>       
    </ul>
    <form>
</body>
</html>